<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center mx-auto">
        <h5>Useful links</h5>
        <ul class="footer__links-list">
          <li><a href="https://earthquake.usgs.gov/">Earthquake Hazards Program</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Earthquake">Wiki</a></li>
          <li><a href="https://earthquake.usgs.gov/earthquakes/map/">USGS Map</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
