.footer {
  background-color: #4a4a4a;
  padding: 20px 0;
  border-top: 5px solid #fff;

  h5 {
    color: #fff;
    font-size: 1.4rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  &__links-list {
    a {
      color: steelblue;
      font-size: 1.1rem;
    }
  }
}
