<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header__content">
          <div class="header__caption-holder">
            <a routerLink="/home"><i class="fas fa-globe"></i>Earthquake | Finder</a>
          </div>
          <nav class="header__nav">
            <ul class="header__nav__list">
              <li class="header__nav__list-item">
                <a routerLink='/search'><i class="fas fa-search"></i>Search</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
