.header {
  padding: 40px;
  background-color: #04633f;
  border-bottom: 5px solid #fff;


  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #ddd;
    }

    i {
      padding-left: 7px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__caption-holder {
    font-size: 1.6rem;
  }

  &__nav {

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      list-style-type: none;
      font-size: 1.2rem;
      margin-left: 25px;
    }
  }
}
