<div class="add-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form [formGroup]="addForm">
          <div class="form-group" [ngClass]="{'error': cityControl.errors && cityControl.touched}">
            <label for="text">{{ 'add.city' | translate }}</label>
            <input type="text" class="form-control" id="text" [placeholder]=" 'add.cityPlaceholder' | translate"
              formControlName="city">
          </div>
          <div class="form-group" [ngClass]="{'error': magnitudeControl.errors && magnitudeControl.touched}">
            <label for="magnitude">{{ 'add.magnitude' | translate }}</label>
            <input type="number" class="form-control" id="magnitude"
              [placeholder]=" 'add.magnitudePlaceholder' | translate" formControlName="magnitude">
          </div>
          <div class="form-group" [ngClass]="{'error': timeControl.errors && timeControl.touched}">
            <label for="time">{{ 'add.time' | translate }}</label>
            <input type="time" class="form-control" id="time" placeholder="Enter approximate time"
              formControlName="time">
          </div>
        </form>
        <div class="button-holder">
          <button class="btn main-btn" (click)="sendFormValues()">{{ 'add.submit' | translate}}</button>
          <button class="btn secondary-btn" (click)="resetFormValues()">{{ 'add.reset' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
